{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="mytext">
    <div class="brand-logo"><h1>
    Thank You for your response!<br><br>
    Looking forward to see you in next round!</h1><br></div>
    
    
    
</div><br><br><br><br><br><br><br>
<h4 class="socialhandle">Till then, make sure you follow all our social pages to stay updated!</h4>
<div class="fufu">
<a href="https://www.facebook.com/SAENITD/" class="fa fa-facebook"></a>
<a href="https://www.instagram.com/sae.nitd/" class="fa fa-instagram"></a>
<a href="sae.nitdgp1@gmail.com" class="fa fa-envelope"></a>
<a href="https://www.linkedin.com/company/sae-india-nit-dgp-collegiate-chapter?originalSubdomain=in" class="fa fa-linkedin"></a>
<a href="https://www.saenitd.com/" class="fa fa-chrome"></a>
</div>
  <!--
      Add other details here
  -->
{% endblock %}
