{% extends 'base.html' %}
{% block title %}Question{% endblock title %}
{% block styles %}
<style>
  h1,
  h3 {
    color: blanchedalmond
  }

  .classOfElements {
    text-align: center;
    vertical-align: middle;
    top: 20%;
  }

  .auditionbtn {
    text-align: center;
    margin: 0px;
  }

  @media(max-width:768px) {
    .classOfElements {
      top: 0%;
    }

    .auditionbtn {
      margin-top: -25%;
    }
  }
</style>
{% endblock styles %}
{% block content %}

<div class="classOfElements">
  <h1>Get Question</h1>
  <form method="post">
    {% csrf_token %}
    <h3>{{question.text}}</h3>
    <img src="{{question.image.url}}">
    <label for="response">Response</label>
    <input type="text" name="response">
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}